<div class={@id}>
  <%= length @post.likes %>
  &nbsp

  <%= if @current_user do %>
    <%= if Enum.any?(@post.likes, fn %{user_id: user_id} -> user_id == @current_user.id end) do %>
      <%= link "unlike", to: "#",  phx_click: "unlike", phx_target: @myself %>
    <% else %>
      <%= link "like", to: "#",  phx_click: "like", phx_target: @myself %>
    <% end %>
  <% end %>
</div>
