/* Tailwind */
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

/* This file is for your main application css. */
@import "./phoenix.css";
@import "./liveview.css";
@import "../node_modules/nprogress/nprogress.css";
