<%= f=form_for @changeset, "#", [phx_submit: "save", phx_target: @myself] %>
  <label>
    Title: <%= text_input f, :title %>
  </label>


  <label>
    Content: <%= text_input f, :content %>
  </label>

  <label>
    Category: <%= select f, :category_id, Enum.map(@categories, &{&1.name, &1.id}) %>
  </label>

  <%= submit "Submit"  %>
